body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-gap: 0.75em;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 7fr 1fr;
    grid-template-areas: 
        "header header header"
        "pre view post"
        "footer footer footer";
}

.nav {
    position: relative;
    background-color:  #1D1D1D;
    padding-left: 20px;
    padding-right: 20px;
    grid-area: header;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    float: left;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
}

.nav li.nav-right {
    float: right;
}

.view {
    grid-area: view;
}

.content {
    
}

.footer {
    grid-area: footer;
    background-color: #1D1D1D;
}

.error {
    color: red;
}

.checkout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "info summary"
}

.checkout .info {
    grid-area: info;
}

.checkout .summary {
    grid-area: summary;
}

.checkout .item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "details price";
}

.checkout .item .details {
    grid-area: details;
}

.checkout .item .details .name {
    
}

.checkout .item .details .artist {

}

.checkout .item .price {
    grid-area: price;
}


